/* the log form class is accessed, this is the main overall class for the form */
/* in here, the background can be set as the cover as it will cover the entire page with the background image provided */
/* the items inside this container will be centered also on both axis */
/* display flex is being used */
.log-form{
    height:100vh;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* this is the class for the boxes of the form, the width/height is set
the border radius is set to maintain the same style as previous implementations
the display flex is used and made it column based direction
this means that it will be one box on top of another rather than a row based direction */
.form-box{
    min-width:400px;
    min-height: 450px;
    background-color: white;
    box-shadow: 0px 0px 10px #cccccc;
    border-radius:20px;
    padding:40px;
    display:flex;
    flex-direction: column;
}

/* the womimg class is accessed, the img tag is accessed, the width is set
the margin is automated, display is set to block */
/* block means that the element is displayed as a block */
.womimg > img{
    width: 80px;
    display: block;
    margin:auto;
}

/* h4 tag is accessed in the title class to modify the text properties such as the font 
and the margin/border */
.titles > h4{
    font-size: 22px;
    text-align:left;
    margin: 15px 0px 20px;
    border-bottom: 1px solid ;
    padding-bottom: 3px;
    display: inline-block;

}

/* each form field is displayed in flex direction colum and width is set to 100% */
.form-field{
    display:flex;
    flex-direction: column;
    width:100%;
    
}

/* each box is positioned relative and with a margin of 20px*/
.input-box{
    position:relative;
    margin-bottom: 10px;
    width:100%;
}

/* The input of the actual form is modified here with a border/font etc */
.form-field .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
  }

  /* the placeholder text is indented here by 10px */
.input-box > ::placeholder{
    text-indent: 10px;
}

/* the form control class is the class for each text field, the various height/width could be adjusted here */
.form-control{
    height:40px;
    width:100%;
    padding-right:0px 0px 0px 45px;
    color: #444444;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

/* the button login (basic container for button) is completed using flex display, it is aligned in the center */
.button-login{
    width: 100%;
    display:flex;
    align-items: center;
}

/* this is the actual button tag inside the button login class container, in which the transitions/color is set up. */
.button-login > button{
    color: #ffffff;
    font-size: 15px;
    padding: 8px 35px;
    background-color: #EA4C89 ;
    transition: all 0.5 ease;
    border: 1px solid transparent;
    cursor:pointer;
    margin-right: 15px;
    border-radius: 5px;
}

/* hover effect applied, when hovered, the color/border color will be updated so it gives a nice transition */
.button-login > button:hover{
    background-color: transparent;
    color: #000000fe;
    border-color:#000000fe ;

}

/* the a tag inside the button login class is also modified to construct the forgot password section */
.button-login > a{
font-size: 16px;
color: #0089fe;
cursor:pointer;
}

/* the alignment of the p tag inside the extra tag is used to center the or login with//dcu email */
.extra > p{
    text-align: center;
    color:#133f66;
    font-size: 14px;
    margin:20px 15px 10px;

}

/* the DCU email login is centered and color is added here */
.options{
    display:flex;
    width:100%;
    justify-content: center;
    margin:20px 1px 10px ;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 35px;
    background-color: #EA4C89 ;
    border: 1px solid transparent;
    cursor:pointer;
    border-radius: 5px;
}

/* removing the underline of the "dcu email" button and adding in normal color */
.options > a{
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}

.input-box.success input{
    border-color: #09c372;
  }
  
  .input-box.error input{
    border-color: #ff3860;
  }
  
  .input-box .error{
  color:  #ff3860;
  font-size: 12px;
  height: 13px;
  margin-top: 2%;
  padding-left: 1%;
  
  }

  #out {
    display:flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #out td, #out th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #out tr:nth-child(even){background-color: #f2f2f2;}
  
  #out tr:hover {background-color: #ddd;}
  
  #out th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #EA4C89;
    color: white;
  }

  .current::after{
    content: '';
    display: block;
    border-radius: 5px;
    height: 4px;
    width:0;
    background: #EA4C89;
    width:100%;
}