
/* as seen with the login page, the background is applied here again with the same logic */
.reg-form{
    height:100vh;
    background-image: url("../images/RegisterBackground.jpg");
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* this container is used to store the title class, overall container to change any positioning etc */
.container2{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  border-radius: 20px;
}

/* the user details class is using display flex and its a wrap in terms of the flex and the content on axis is spaced between. 
This means that the content is going to be 2 in a row, if this is not included then it would be like a column. */
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

/* the input box width is set using the calc function  */
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

/* the margin from the textfield is corrected here to format it nicely. 
Using display block which means the elements are adjusted in a block position */
form .input-box span.details{
  display: block;
  font-weight: 200;
  margin-bottom: 5px;
}

/* The input itself is modified here from the input box class so whether its the font size etc */
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}

.input-box.success input{
  border-color: #09c372;
}

.input-box.error input{
  border-color: #ff3860;
}

.input-box .error{
color:  #ff3860;
font-size: 12px;
height: 13px;
margin-top: 2%;
padding-left: 1%;

}
 form .button{
   height: 45px;
   margin: 3px 0
 }

 /* The button is adjusted here in terms of the border radius etc */
 /* cursor pointer is also active which means you can point */
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   background: #EA4C89;
   border: 1px solid transparent;
  }

  /* the hover transition here is the exact same as the home page in which the borders become the color black */
 form .button input:hover{
  background-color: transparent;
  color: #000000fe;
  border-color:#000000fe ;
 }

 #out {
  display:flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#out td, #out th {
  border: 1px solid #ddd;
  padding: 8px;
}

#out tr:nth-child(even){background-color: #f2f2f2;}

#out tr:hover {background-color: #ddd;}

#out th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #EA4C89;
  color: white;
}