@charset "UTF-8";

body {
    margin-top: 0;
    margin-bottom: 0;
    font: 62.5%/2.2em "Arial", sans-serif;
		color: #000000;
		background: rgb(255, 255, 255);
}

.nav_bar{
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    padding-right: 20px;
}

.nav_items a
{
    font-size: medium;
    color: #0b8fdb;
    text-decoration: none;
    padding-right: 30px;
    cursor: pointer;
}

.nav_bar button
{
    padding: 12px 28px;
    border: none;
    outline-width: 0;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
      120deg,
      hsl(234, 70%, 51%),
      hsl(0, 0%, 57%)
    );
}

/* sectors are seperated by space and section is centered*/
.main_section
{
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    padding-right: 20px;
}

.text_section
{
  align-items: flex-start;
  margin-right:200px;
  padding-left: 5%;
  font-size: 20px;
  color:#133B4f;
}

/* accessing the main class h1,h2,p tag and modifying it here */
.text_section h1{
  max-width:100%;
  height:auto;
  font-size:3.375em;
  color:#133B4f;
  text-transform:uppercase;

}

.text_section  h2{
  font-size: 15px;
  color: #133B4f;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.text_section  p{
  font-size:14px;
  font-weight:400;
  line-height: 31.5px;
  margin: 30px 0;
}

.image_section img
{
    height: 700px;
}

.signup_button 
{
    text-align: center;
}

.signup_button button
{
    padding: 12px 28px;
    border: none;
    outline-width: 0;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
      120deg,
      hsl(234, 70%, 51%),
      hsl(0, 0%, 57%)
    );
}

/* background is lightly shaded */
.services_section
{
    background-color: #F6F6F6;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.services_section h1
{
    color: #0b8fdb;
}

.footer{
    text-align: center;
}

.button_input
{
    padding: 12px 28px;
    border: none;
    outline-width: 0;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
      120deg,
      hsl(234, 70%, 51%),
      hsl(0, 0%, 57%)
    );
}

.email_input
{
    padding: 12px 28px;
    border-color: black;
    outline-width: 0;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    font-weight: 400;
    background-color: #ffffff;
}

.footer h1{
    color: #0b8fdb;
}
  
  .dropbtn {
    padding: 12px 28px;
    border: none;
    outline-width: 0;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
      120deg,
      hsl(234, 70%, 51%),
      hsl(0, 0%, 57%)
    );
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1dbeca00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: #0b8fdb;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }


  .navbar {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }

  .show {
    display: block;
  }
