<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EE417_Group_Project</display-name>
  <welcome-file-list>
  
  
  
  
    <welcome-file>index.html</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>contact.jsp</welcome-file>
    <welcome-file>about.jsp</welcome-file>
    <welcome-file>application.jsp</welcome-file>
    <welcome-file>newsblog.jsp</welcome-file>
    <welcome-file>services.jsp</welcome-file>
    <welcome-file>signup.jsp</welcome-file>
    <welcome-file>navbar.jsp</welcome-file>
    <welcome-file>Admin2_approveLoans.jsp</welcome-file>
    <welcome-file>Admin1_Change_Pass_bankBalance.jsp</welcome-file>
    
    <welcome-file>aboutstyle.css</welcome-file>
    <welcome-file>applicationstyle.css</welcome-file>
    <welcome-file>common.css</welcome-file>
    <welcome-file>contactstyle.css</welcome-file>
    <welcome-file>loginstyle.css</welcome-file>
    <welcome-file>navbar.css</welcome-file>
    <welcome-file>newsandblogstyle.css</welcome-file>
    <welcome-file>portfoliostyle.css</welcome-file>
    <welcome-file>servicesstyle.css</welcome-file>
    <welcome-file>signupstyle.css</welcome-file>
    <welcome-file>style.css</welcome-file>
    <welcome-file>login.css</welcome-file>
    
    <welcome-file>navbar.js</welcome-file>
    
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>